/* Font faces */
@font-face {
    font-family: 'LMLight';
    src: url('assets/fonts/LEMONMILK-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LMReg';
    src: url('assets/fonts/LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LMLightItalic';
    src: url('assets/fonts/LEMONMILK-LightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CaviarReg';
    src: url('assets/fonts/CaviarDreams.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CaviarItalic';
    src: url('assets/fonts/CaviarDreams_Italic.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/* General Styles */
body {
    background-color: #222222;
    font-family: 'LMLight', sans-serif;
    color: white;
    margin: 0;
    padding: 20px;
}

#home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: inline-block; 
    z-index: 2;
}

#home-button:hover {
    color: red;
}

.admin-dashboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toggle-button {
    font-family: 'LMReg', sans-serif;
    font-size: 18px;
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: #555;
}

.form-container {
    display: none;
    background-color: #333;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: 'CaviarReg', sans-serif;
}

input[type="text"] {
    width: 100%;
    background-color: #444;
    color: white;
}

input[type="submit"] {
    background-color: #555;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #666;
}

/* Dashboard title */
.dashboard-title {
    text-align: center;
    font-family: 'LMReg', sans-serif;
    color: white;
    margin-bottom: 20px;
}

/* Search container and dropdown */
.search-container {
    position: relative;
}

.search {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px;
    z-index: 1000; /* High z-index to appear on top */
}

.dropdown-content li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: #555;
}

